.app__banner {
    background-color: black;
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__banner-text {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}